@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
}

html {
	overflow-x: hidden;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}





/* SIDEBAR */
#sidebar {
	position: fixed;
	max-width: 260px;
	width: 100%;
	background: var(--light);
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
	overflow: scroll;
}
#sidebar.hide {
	max-width: 60px;
}
#sidebar.hide:hover {
	max-width: 260px;
}
#sidebar::-webkit-scrollbar {
	display: none;
}
#sidebar .brand {
	font-size: 24px;
	display: flex;
	align-items: center;
	height: 64px;
	font-weight: 700;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	gap: 10px;
	background: var(--light);
	transition: all .3s ease;
	padding: 8px;
}
#sidebar .icon {
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
}

#sidebar .logo {
	position: relative;
}
#sidebar .logo img {
	width: 50px;
	height: 40px;
	object-fit: cover;
	cursor: pointer;
} 
#sidebar .icon-right {
	margin-left: auto;
	transition: all .3s ease;
}
#sidebar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
	transition: all .3s ease;
}
#sidebar.hide .side-menu {
	padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
	padding: 0 20px;
}
#sidebar .side-menu a {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: var(--dark);
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
	background: var(--grey);
}
/* #sidebar .side-menu > li > a.active .icon-right {
	transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
	background: var(--blue);
	color: var(--light);
} */
#sidebar .divider {
	margin-top: 24px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--dark-grey);
	transition: all .3s ease;
	white-space: nowrap;
}
#sidebar.hide:hover .divider {
	text-align: left;
}
#sidebar.hide .divider {
	text-align: center;
}
/* #sidebar .side-dropdown {
	padding-left: 54px;
	max-height: 0;
	overflow-y: hidden;
	transition: all .15s ease;
}
#sidebar .side-dropdown.show {
	max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
	color: var(--blue);
} */
#sidebar .ads {
	width: 100%;
	padding: 20px;
}
#sidebar.hide .ads {
	display: none;
}
#sidebar.hide:hover .ads {
	display: block;
}
#sidebar .ads .wrapper {
	background: var(--grey);
	padding: 20px;
	border-radius: 10px;
}
#sidebar .btn-upgrade {
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 0;
	color: var(--light);
	background: var(--blue);
	transition: all .3s ease;
	border-radius: 5px;
	font-weight: 600;
	margin-bottom: 12px;
}
#sidebar .btn-upgrade:hover {
	background: var(--dark-blue);
}
#sidebar .ads .wrapper p {
	font-size: 12px;
	color: var(--dark-grey);
	text-align: center;
}
#sidebar .ads .wrapper p span {
	font-weight: 700;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}
#sidebar.hide + #content {
	width: calc(100% - 60px);
	left: 60px;
}
/* NAVBAR */
nav {
	background: var(--light);
	height: 64px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	grid-gap: 28px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}
nav .toggle-sidebar {
	font-size: 18px;
	cursor: pointer;
}
nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
nav .form-group {
	position: relative;
}
nav .form-group input {
	width: 100%;
	background: var(--grey);
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 10px 36px 10px 16px;
	transition: all .3s ease;
}
nav .form-group input:focus {
	box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
nav .form-group .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--dark-grey);
}
nav .nav-link {
	position: relative;
}
nav .nav-link .icon {
	font-size: 18px;
	color: var(--dark);
}
nav .nav-link .badge {
	position: absolute;
	top: -12px;
	right: -12px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light);
	font-size: 10px;
	font-weight: 700;
}
nav .divider {
	width: 1px;
	background: var(--grey);
	height: 12px;
	display: block;
}
nav .profile {
	position: relative;
}
nav .profile img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
nav .profile .profile-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	background: var(--light);
	padding: 10px 0;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	border-radius: 10px;
	width: 160px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
nav .profile .profile-link.show {
	opacity: 1;
	pointer-events: visible;
	top: 100%;
}
nav .profile .profile-link a {
	padding: 10px 16px;
	display: flex;
	grid-gap: 10px;
	font-size: 14px;
	color: var(--dark);
	align-items: center;
	transition: all .3s ease;
}
nav .profile .profile-link a:hover {
	background: var(--grey);
}
/* NAVBAR */



/* MAIN */
main {
	width: 100%;
	padding: 24px 20px 20px 20px;
}
main .title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}

main .info-data {
	margin-top: 36px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 20px;
}
main .info-data .card {
	border-radius: 10px;
	background: var(--light);
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
	padding-bottom: 3%;
}

main .card .head {
	padding: 5%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

main .ropa {
	position: relative;
	z-index: 0;
}
main .ropa img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
} 

main .card .head2 {
	display: grid;
	grid-template-rows: 50% 50%;
	padding: 5%;
}

main .card .head2 .text2{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 5%;
}

main .boton{
	background-color: green;
	color: #fff;
	border-radius: 10%;
	padding: 2%;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
}

main .card .head h2 {
	font-size: 24px;
	font-weight: 600;
}
main .card .head p {
	font-size: 14px;
}
main .card .head .icon {
	font-size: 25px;
	color: green;
}
main .card .head .icon.down {
	color: var(--red);
	border: 1px solid;
}

main .card .label {
	font-size: 14px;
	font-weight: 700;
}


/* FLOTANTE */
.modal{
	background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
	align-items: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    pointer-events: none;
    transition: all 0.1s;
    visibility: hidden;
	z-index: 201;
}


.modal:target{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transition: all 0.1s;
}
.ventana{
    display: grid;
    grid-template-columns: 15% 50% 35%;
    background-color: #fff;
    margin-left: 25%;
	top: 20%;
    width: 60%;
    height: 65%;
    padding: 1%;
    position: relative;
	border-radius: 3%;
	z-index: 201;
}

.cerrar {
    position: absolute;
    top: 3%;
    right: 3%;
}

.fotos-cam{
	padding: 4%;
    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
    gap: 2%;
	height: 100%;
    text-transform: uppercase;
	border-radius: 4%;
	z-index: 205;
}

/* ITEMSSSSSS  ABRIGOS--------------------------------------------*/


.item1{background-image: url(images/abrigos/1.jpg); }
.item11{background-image: url(images/abrigos/fondo2.jpg); }
.item2{background-image: url(images/abrigos/buso-manga-ranglan-con-estampado.jpg); }
.item3{background-image: url(images/abrigos/buzo-capota-con-estampado-en-el-frente-de-beverly-hills.jpg); }
.item4{background-image: url(images/abrigos/buzo-capota-con-estampado-de-hello-kitty.jpg); }
.item5{background-image: url(images/abrigos/buso2-manga-ranglan-con-estampado.jpg); }
.item6{background-image: url(images/abrigos/buzo3-capota-con-estampado-en-el-frente-de-beverly-hills.jpg); }
.item7{background-image: url(images/abrigos/4.jpg); }

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item11{
	background-size: cover;
	width: 80%;
	height: 110%;
}

.imagen1{
	background-size: cover;
	width: 100%;
	width: 100%;
}

.foto-det .imagen1 
{
	display: none;
}

.ventana:has(.item1:hover) .imagen1{
	display: block;
} 

.ventana:has(.item1:hover) .imagen2{
	border: 1px solid green;
	display: none;
} 

.ventana:has(.item11:hover) .imagen1{
	display: block;
} 

.ventana:has(.item11:hover) .imagen2{
	border: 1px solid green;
	display: none;
} 


/* ITEMSSSSSS  CAMISAS--------------------------------------------*/









/* ITEMSSSSPANTALONES--------------------------------------------*/



.cont-det{
    padding: 4%;
    display: grid;
    grid-template-rows: 20% 10% 50% 10%;
    gap: 2%;
	height: 100%;
    text-transform: uppercase;
	border-radius: 4%;
	background-color:  rgb(240, 240, 240);
}

.foto-det img{
	align-items: center;
    padding: 5px;
    background-size: cover;
    height: 100%;
	width: 100%;
}




.titulo-det{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 90%;
}

.detalles-text{
	display: grid;
    color: black;
    font-weight: bold;
    font-size: 80%;
}


.ventana .icono {
	color: green;
	min-width: 1%;
	margin-right: 6px;
}

.ventana .icono2{
	color: green;
}

.tallas{
    display: flex;
	gap: 2%;
}

.talla{
    color: #fff;
    font-size: 15px;
    border-radius: 20%;
    padding: 5px;
}

.talla:hover{
    background-color: rgb(12, 124, 12);
}




/* PRUEBA */



@media screen and (max-width: 768px) {
	#content {
		position: relative;
		width: calc(100% - 60px);
		transition: all .3s ease;
	}
	nav .nav-link,
	nav .divider {
		display: none;
	}
}
